* {
  text-decoration: none !important;
  list-style-type: none;
}
header {
  background-color: bisque;
  #firstnav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fa-bars{
        display: none;
    }
    .new-nav{
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 5px;
      li {
        margin-right: 10px;
        padding: 5px;
        border: 1px solid transparent;
        &:hover {
          border-color: black;
          border-radius: 8px;
        }
        a {
          color: black;
        }
      }
    }
  }
}
@media screen and (max-width:767px) {
    header{
      #firstnav{
            ul{
                display: none;
            }
            .fa-bars{
                display: block;
            }
        }
    }
  }

#first {
  height: 100vh;
  background-image: url(./imag/WhatsApp\ Image\ 2023-05-15\ at\ 01.16.53.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}
#second{
    h1{
        border-bottom: 1px solid red;
        
    }
    table{
        tbody{
            tr{
                td{
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .cards{
        display: none;
        width: 100%;
        #card{
          width: 100%;
            padding: 10px;
            // gap: 40px;
            margin-bottom: 20px;
            border: 1px solid grey;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .card-date{
              .date{
                  color: green;
              }
            }
            .img-name-buttons{
              display: flex;
              position: relative;
              img{
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
              }
              .name-surname{
                display: flex;
                flex-direction: column;
              }
              .buttons{
                position: absolute;
                right: 10px;
                bottom: 0;
              }
            }

        }
    }
}

@media screen and (max-width:767px){
    #second{
        table{
            display: none;
        }
        .cards{
           display: block;
        }
    }
}
@media screen and (max-width:567px){
    #first {
        height: 100vh;
        background-image: url(imag/second-background.jpeg);
        background-repeat: no-repeat;
        background-position: center;
      }
      .cards{
        #card{
          .card-date{
            padding-left: 40px;
          }
          .img-name-buttons{
            padding: 40px;
            padding-top: 20px;
            .buttons{
              left: 80px;
            }
          }
        }
      }
}



